aside {
    grid-area: aside;
    flex-direction: column;
    height: calc(100vh - var(--main-nav-height));
    position: inherit;
    color: #fff;
    font-size: .7rem;
}

aside figure {
    flex-direction: column;
    width: 80%;
    height: 5rem;
    position: inherit;
    cursor: pointer;
    border-radius: 10px;
}

aside figure:hover {
    background-color: rgba(48, 48, 48, 0.603);
}

aside figure:first-child {
    display: none;
}

aside figure img {
    height: 25%;
    margin: 5px 0;
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 475px) {
    aside {
        flex-direction: row;
        height: var(--main-nav-height);
    }

    aside figure {
        height: inherit;
    }

    aside figure img {
        height: 30%;
        margin: 5px 0;
    }
}