* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --main-nav-height: 2.5rem;
    --main-aside-width: 4rem;
}

body {
    background-color: #151515;
}

a {
    color: inherit;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}