* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-nav-height: 3rem;
    --main-aside-width: 4rem;
    --main-width-label-label: 90%;
    --main-scrollbar-height: calc(var(--main-nav-height) * .6);
}

body {
    background-color: #151515;
    position: relative;
    display: grid;
    grid-template-areas: 
    'menu-icon menu-logo search notify'
    'aside scrollnav scrollnav .'
    'aside main main sidebar'
    'aside main main sidebar';
    grid-template-columns: 1fr 1fr 10fr 2fr;
}

a {
    color: inherit;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}