nav {
    width: 100vw;
    padding: .5rem 0;
    position: fixed;
    height: 2.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #15151577;
}

nav>div {
    min-width: max-content;
}

.menu-navbar {
    flex-basis: 10%;
    justify-content: space-around;
}

.search-container {
    flex-basis: 80%;
    position: relative;
}

.notifications {
    flex-basis: 10%;
}

.menu-navbar label,
.notifications figure {
    height: var(--main-nav-height);
    width: var(--main-nav-height);
    position: relative;
    cursor: pointer;
}

.menu-navbar label:hover,
.notifications figure:hover:not(.my-account) {
    border-radius: 50%;
    background-color: rgba(71, 71, 71, 0.5);
}

.menu-navbar a {
    height: var(--main-nav-height);
    width: auto;
}

.menu-navbar label img {
    margin: 0 auto;
    height: 40%;
}

.menu-navbar label:hover {
    cursor: pointer;
    background-color: rgba(70, 70, 70, 0.603);
    border-radius: 50%;
}

.menu-navbar a img {
    height: 50%;
}

.notifications figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.notifications figure img:not(.my-account img) {
    height: 50%;
}

.my-account img {
    border-radius: 50%;
    height: var(--main-nav-height);
}

.label {
    border-radius: 50px;
    border: 1px solid rgb(68, 68, 68);
    width: 50%;
    height: var(--main-nav-height);
    position: inherit;
    overflow: hidden;
}

.label label {
    margin-left: 5%;
    width: 90%;
    height: 100%;
    position: inherit;
}

.label figure {
    width: 10%;
    height: 100%;
}

.label label input {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    color: #fff;
}

#entrada::placeholder {
    font-size: .8rem;
    line-height: var(--main-nav-height);
    color: rgb(136, 136, 136);
}

.label label figure {
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1px solid rgb(68, 68, 68);
}

.label label figure img {
    height: 30%;
    opacity: .7;
}

.label label figure img:hover {
    opacity: .9;
}

.label>figure {
    background-color: rgba(63, 63, 63, 0.5);
    position: inherit;
    cursor: pointer;
}

.label>figure img {
    height: 50%;
}

.search-container>figure {
    background-color: rgba(51, 51, 51, 0.63);
    margin-left: 1%;
    border-radius: 50%;
    position: relative;
    height: var(--main-nav-height);
    width: var(--main-nav-height);
    cursor: pointer;
}

.search-container>figure img {
    height: 50%;
}

/* Mobile landscape*/
@media only screen and (orientation: landscape) {}

/* Mobile portrait*/
@media only screen and (orientation: portrait) {
    nav {
        height: 100vh;
    }

    nav>div {
        align-self: flex-start;
    }

    .search-container {
        align-self: flex-end;
    }

    .label {
        width: 100%;
    }

    .label>figure img {
        height: 50%;
    }

    .search-container>figure img {
        height: 40%;
    }

    .label figure {
        width: 25%;
    }

    .label label {
        width: 75%;
    }

    .search-container>figure {
        margin-left: 3%;
    }
}