.menu-icon,
.menu-logo,
.search-container {
    height: var(--main-nav-height);
    position: relative;
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgb(221, 218, 33);
}

.menu-icon {
    height: var(--main-nav-height);
    grid-area: menu-icon;
}

.menu-icon figure {
    position: relative;
    height: calc(var(--main-nav-height) - 10px);
    width: calc(var(--main-nav-height) - 10px);
    margin: 0 auto;
}

.menu-icon figure:hover {
    border-radius: 50%;
    background-color: rgba(59, 59, 59, 0.541);
}

.menu-icon figure img {
    height: 40%;
}

/*logo+tipografia*/
.menu-logo {
    grid-area: menu-logo;
    width: auto;
    position: relative;
}

.menu-logo img {
    height: 50%;
}

/*container-pesquisa*/
.search-container {
    grid-area: search;
    position: inherit;
    width: 100%;
}

.label {
    height: calc(var(--main-nav-height) - 10px);
    width: 70%;
    border: 1px solid rgb(95, 95, 95);
    position: inherit;
    border-radius: 30px;
    overflow: hidden;
}

.label label {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--main-width-label-label);
}

.label label input {
    height: 100%;
    width: 95%;
    margin-left: 5%;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 1rem;
}

.label label input::placeholder {
    color: rgb(148, 148, 148);
    font-size: 1rem;
}

.label label figure {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
}

.label label figure img {
    height: .7rem;
    width: auto;
    opacity: .75;
    cursor: pointer;
}

.label label figure img:hover {
    opacity: 1;
}

.label>figure {
    background-color: rgba(92, 92, 92, 0.295);
    position: absolute;
    right: 0;
    width: calc(100% - var(--main-width-label-label));
    height: 100%;
    border-left: 1px solid rgb(95, 95, 95);
}

.label>figure img {
    height: 1.3rem;
}

.microphone-icon {
    background-color: rgba(97, 97, 97, 0.3);
    height: calc(var(--main-nav-height) - 10px);
    width: calc(var(--main-nav-height) - 10px);
    margin-left: 1rem;
    border-radius: 50%;
    position: inherit;
    cursor: pointer;
}

.microphone-icon:hover {
    background-color: rgba(97, 97, 97, 0.5);
}

.microphone-icon img {
    height: 50%;
}

.notifications {
    grid-area: notify;
    height: var(--main-nav-height);
    position: inherit;
    border: 1px solid yellow;
}

.notifications figure {
    cursor: pointer;
}

.notifications figure:not(.my-account) {
    position: inherit;
    height: calc(var(--main-nav-height) - 10px);
    width: calc(var(--main-nav-height) - 10px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*ATIVAR DISPLAY QUANDO A TELA FOR MENOR*/
.notifications figure:nth-child(1) {
    display: none;
}

.notifications figure:nth-child(2) img {
    height: 50%;
}

.notifications figure:nth-child(3) img {
    height: 60%;
}

.notifications figure img {
    height: 70%;
}

.my-account img {
    height: calc(var(--main-nav-height) - 10px);
    width: calc(var(--main-nav-height) - 10px);
    border-radius: 50%;
    height: 100%;
}



.notifications img {
    max-width: 30px;
}