nav {
    width: 100vw;
    height: 56px;
    position: relative;
    display: grid;
    grid-template-areas: 'menu-sd search notifications';
    grid-template-columns: 1fr 6fr 1fr;
    align-content: center;
    font-family: 'Roboto', sans-serif;
}

.menu-navbar {
    grid-area: menu-sd;
}

.search-container {
    grid-area: search;
}

.notifications {
    grid-area: notifications;
}

nav img:not(.my-account img) {
    max-height: 20px;
    cursor: pointer;
}

/*menu-navbar*/
.menu-navbar {
    justify-content: space-evenly;
    width: 100%;
}

.menu-navbar label {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.menu-navbar label img {
    height: 15px;
}

.menu-navbar label:hover {
    background-color: rgba(43, 43, 43, 1);
}

/*search-container*/
.search-container {
    width: 60%;
    margin: 0 auto;
    height: 50px;
}

.microphone-icon {
    background-color: rgba(43, 43, 43, 0.418);
    height: 45px;
    width: 45px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.microphone-icon:hover {
    background-color: rgba(43, 43, 43, 1);
}

.microphone-icon img {
    margin: 0 auto;
}

.label {
    border: 1px solid rgba(112, 112, 112, 0.534);
    overflow: hidden;
    width: calc(100% - 55px);
    border-radius: 50px;
    height: 45px;
}

.label label {
    background-color: rgba(128, 128, 0, 0);
    padding-left: 5%;
    height: 100%;
    width: calc(100% - 70px);
}

.label figure {
    height: 50px;
    width: 70px;
}

.label figure img {
    margin: 0 auto;
}

.label label {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label label input {
    background-color: rgba(15, 155, 155, 0);
    height: 100%;
    width: 100%;
    font-size: 1em;
    color: #fff;
}

.label label input::placeholder {
    color: #ffffff8f;
    font-family: 'Roboto', sans-serif;
}

.label label figure {
    width: 50px;
}

.label label figure img {
    height: 12px;
    opacity: .5;
}

.label label figure img:hover {
    opacity: .8;
    transition: ease-in .3s;
}

.search-icon {
    background-color: rgba(58, 58, 58, 0.5);
    border-left: 1px solid rgba(112, 112, 112, 0.534);
}

/*notifications*/
.notifications figure {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.notifications figure img:not(.my-account img) {
    height: 50px;
}

.notifications figure:nth-child(2)::after {
    content: "9+";
    color: #fff;
    background-color: rgb(238, 11, 11);
    border-radius: 50%;
    font-size: .8em;
    padding: 2px;
    position: absolute;
    top: 5%;
    right: 5%;
}

.notifications figure:hover:not(.my-account) {
    background-color: rgba(43, 43, 43, 1);
    border-radius: 50%;
}

.my-account {
    cursor: pointer;
    position: inherit;
    margin: 0 10px;
}

.my-account img {
    width: 100%;
    border-radius: 50%;
}