.sidebar {
    grid-area: sidebar;
    width: 100%;
    height: calc(100vh - var(--main-nav-height) - var(--main-nav-height));
    overflow-y: hidden;
    border: 1px solid rgb(95, 95, 95);
    background-color: #fff;
}

.anuncio {
    position: relative;
    width: inherit;
    height: calc(100vh - var(--main-nav-height));
    overflow: auto;
}

.anuncio figure,
.anuncio figure a {
    position: inherit;
    width: inherit;
}

.anuncio figure a img {
    width: inherit;
}
/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 475px) {
    .sidebar {
        height: calc(100vh - 3 * var(--main-nav-height));
    }
}